<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>
  {{message}}
  <form id="addEmail" name="addEmail" method="post" action="/addEmail">
    <label for="email">Email Address: </label>
    <input class="text" name="email" type="text" />
    <label for="password">Password: </label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Save" />
  </form>
</body>

</html>