<!DOCTYPE html>
<html>

<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{{title}}</title>
</head>

<body>
        {{message}}
        <form id="addProfile" name="addProfile" method="post" action="/addProfile">
                <label for="firstname">Firstname: </label>
                <input class="text" name="firstname" type="text" />
                <label for="lastname">Lastname: </label>
                <input name="lastname" type="text" />
                <input class="btn" type="submit" value="Save" />
        </form>
</body>

</html>