<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <h2>{{title}}</h2>
    <h5> Username: {{username}}</h5>
    <a href="addEmail" type="button">Add Email</a>

</body>

</html>